
#text1em {
  transition: all 0.4s ease;
  text-shadow: 0 0 5px #3399ff;
  font-style: normal; /* optional if you don’t want italics */
}

/* .padding_1x {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}


.padding_1x:hover {
  animation: bounce 0.6s ease;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}


@keyframes bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-10px); }
  50% { transform: translateY(0); }
  70% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
} */


