/* Section title */
.gallery {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1e293b;
}


.lineinfra{
  width: 200px;
  height: 4px;
  background-color: #ee4500; /* Accent color (you can change) */
  margin: 5px auto 0;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

/* Optional: Animated Shine Effect */
.lineinfra::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


/* Custom gallery layout */
.custom-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  gap: 20px;
  padding: 0 10%;
}

.custom-gallery .item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.custom-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 16px;
}

.custom-gallery img:hover {
  transform: scale(1.05);
}


.item.medium {
  grid-column: span 1;
  grid-row: span 1;
}

.item.small {
  grid-column: span 1;
  grid-row: span 1;
}

