
.lineinfra {
  width: 400px;
  height: 4px;
  background-color: #ee4500;
  margin: 5px auto 0;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.lineinfra::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.carousel-track {
  display: flex;
}

.carousel-slide {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-shrink: 0;
}

.card {
  flex: 0 0 32%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 900px) {
  .card {
    flex: 0 0 48%;
  }
}

@media (max-width: 600px) {
  .card {
    flex: 0 0 100%;
  }
}
