/* ================= NAVBAR MAIN ================= */
.navbar {
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

/* ================= LOGO SECTION ================= */
.logo_section {
  display: flex;
  align-items: center;
  max-width: 200px; 
}

.logo img {
  width: 100%;
  max-width: 150px;   /* Adjust logo size here */
  height: auto;
  object-fit: contain;
}

/* ================= CONTACT SECTION ================= */
.contact_section {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-right: 50px;
}

.contact_item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.icon {
  margin-right: 8px;
  margin-top: 2px;
  font-size: 22px !important;
  color: #e42323 !important; 
}

/* ================= MEDIA QUERY (1200px) ================= */
@media (max-width: 1200px) {
  .logo img {
    max-width: 110px; /* Smaller logo on 1200px */
  }

  .contact_item {
    font-size: 14px;
  }

  .icon {
    font-size: 16px;
  }
}



/* ================= MEDIA QUERY (360px) ================= */
@media (max-width: 360px) {

  .navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 10px;
    gap: 7px;
    

  }

  .logo_section {
    max-width: 130px;
    
  }

  .logo img {
    max-width: 200px;
  }
.contact_section {
    margin-right: 0;
  }

  .contact_item {
    font-size: 16px;
  }

  .icon {
    font-size: 15px !important;     
    color: #e42323 !important;  
  }
}
