
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


/*NAV*/
nav{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
    padding:0.2rem 2rem;
    z-index:99;
    white-space:nowrap;
    transition:0.5s;
    color:var(--lite);
    background-color:var(--white);
    transition:0.5s;
}  

.fixed_nav{
    width:100%;
    position:fixed;
    top:0;
    box-shadow:0px 6px 16px -6px var(--gray);
    animation: fixed_nav 1s linear 1;
}


.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #f9f9f9; 
}

.logo img {
  height: 60px; 
  width: auto;
}

/* Contact section aligned right */
.contact_section {
  /* display: flex; */
  gap: 30px; 
  align-items: center;
  flex-wrap: wrap; 
}

.contact_section a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  gap: 8px; 
}

.contact_section a i {
  font-size: 18px;
  color: #007bff; 
}





